<div class="container">
  <h1>View message from <%= @message.sender.name %></h1>

  <div class="message-item">
    <h3 class="mi-heading"><%= @message.subject %></h3>
    <div class="mi-content">
      <%= @message.body %>
    </div>
  </div>

  <div class="">
    <%= link_to "Go Back", messages_path, class: "btn btn-primary" %>
  </div>
</div>

<%= debug @message %>