<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1>Add new friends</h1>
        <p>Please choose one user to add friend</p>
      </div>
      <table class="table table-striped">
        <tbody>
        <% @users.each do |u| %>
            <tr>
              <td><%= u.name %></td>
              <td class="text-right">
                <%= link_to "Add", friendships_path(user_id: u.id), method: :post, class: 'btn btn-primary btn-sm' %>
                <% if current_user.in_blocked_list(u.id)  %>
                  <%= link_to "Unblock", blocked_user_path(u.id), method: :delete, class: 'btn btn-primary btn-sm' %>
                <% else %>
                  <%= link_to "Block", blocked_users_path(user_id: u.id), method: :post, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </td>
            </tr>
        <% end %>
        <% @friends.each do |u| %>
            <tr>
              <td><%= u.name %></td>
              <td class="text-right">
                <%= link_to "Remove", friendship_path(u.id), method: :delete, class: 'btn btn-warning btn-sm' %>
                <% if current_user.in_blocked_list(u.id)  %>
                    <%= link_to "Unblock", blocked_user_path(u.id), method: :delete, class: 'btn btn-primary btn-sm' %>
                <% else %>
                    <%= link_to "Block", blocked_users_path(user_id: u.id), method: :post, class: 'btn btn-danger btn-sm' %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>